@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: 'Roboto';
}

.curv-content {
  background: #EFFEFE;
  padding: 32px 32px 47px 32px;
}

.curv-search {
  position: relative;
  background: #FFFFFF;
  padding: 12px 0px 12px 10px;
  border-radius: 4px;
}

.curv-search::before {
  content: "";
  position: absolute;
  height: 32px;
  width: 1px;
  background: #B1B1B1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.curv-search__item {
  width: 50%;
}

.curv-search__item .text--search {
  font-size: 14px;
}

.curv-search__item--icon {
  margin-right: 13.69px;
}

.curv-search__item--input {
  padding: 0.6rem !important;
  line-height: 20px;
}

.curv-search__item--input .vs-input--input {
  border: none !important;
  outline: none !important;
  padding: 0.6rem !important;
}

.curv-search__item--text-location {
  margin-left: 16.5px;
}

.curv-search__item--btn {
  padding: 8px 16px 8px 16px;
  background: -webkit-gradient(linear, left top, right top, from(#4490A8), to(#5BBDA7));
  background: linear-gradient(90deg, #4490A8 0%, #5BBDA7 100%);
  color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.curv-search__item2 {
  padding-left: 20.5px;
  padding-right: 8px;
}

.curv-search__item2 .space--search {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.curv-wrapper {
  padding-top: 32px;
}

@media (max-width: 780px) {
  .curv-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.curv-wrapper .left--side {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.curv-wrapper .right--side {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

.curv-wrapper__item--btn {
  width: 99%;
  padding: 8px 0px;
  outline: none;
  border: none;
  background: #DDDDDD;
  color: #585858;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2px;
}

.curv-wrapper__item--btn.btn--child1 {
  background: -webkit-gradient(linear, left top, right top, from(#4490A8), to(#5BBDA7));
  background: linear-gradient(90deg, #4490A8 0%, #5BBDA7 100%);
  color: #fff;
}

.curv-wrapper__item--checkbox.checkbox--level {
  padding-bottom: 32px;
}

.curv-wrapper__item--checkbox {
  list-style: none;
}

.curv-wrapper__item--checkbox .slide--range {
  min-width: 100% !important;
}

.curv-wrapper__item--checkbox .con-vs-slider {
  min-width: unset !important;
}

.curv-wrapper__item--checkbox .checkbox--text {
  font-size: 14px;
  line-height: 24px;
}

.curv-wrapper__item--checkbox .vs-slider-line-one {
  background: #17A9B5 !important;
}

.curv-wrapper__item--checkbox-list li {
  display: block;
  margin-top: 12px;
}

.curv-wrapper__item--checkbox-list li .con-vs-checkbox {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.curv-wrapper__item--checkbox-list li .vs-checkbox {
  margin-right: 12px;
}

.curv-wrapper__item--checkbox .text--salary {
  padding-top: 32px;
}

.curv-wrapper__item--checkbox .slide--range {
  padding-top: 20px;
  padding-bottom: 16px;
  width: 90%;
}

.curv-wrapper__item--checkbox .checkbox--price {
  color: #17A9B5;
}

.curv-wrapper__item--checkbox.wrap--money {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.curv-wrapper__item--joblist--tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.curv-wrapper__filter {
  padding-top: 16px;
}

.curv-wrapper__filter--item-newest {
  margin-left: 16px;
  margin-right: 8px;
}

.curv-wrapper__filter--item-detail {
  color: #B1B1B1;
}

.curv-wrapper__filter--item .detail--list {
  font-size: 24px;
  line-height: 32px;
}

.curv-wrapper__filter--item .detail--sort {
  font-size: 14px;
  line-height: 24px;
}

.curv-wrapper__filter--item2 {
  text-align: end;
}

.curv-wrapper__listjob {
  margin-top: 16px;
  padding: 16px 18px 16px 16px;
  border-radius: 4px;
  background: #fff;
}

@media (max-width: 780px) {
  .curv-wrapper__listjob--image {
    display: none;
  }
}

.curv-wrapper__listjob--image-img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.curv-wrapper__listjob--text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.curv-wrapper__listjob--text .flex--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.curv-wrapper__listjob--text p {
  font-size: 14px;
  line-height: 24px;
}

.curv-wrapper__listjob--text-detail {
  padding-left: 16px;
}

.curv-wrapper__listjob--text-detail .icon--heart {
  cursor: pointer;
}

.curv-wrapper__listjob--text-detail .text--title {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  color: #353535;
  font-weight: 700;
}

@media (max-width: 780px) {
  .curv-wrapper__listjob--text-detail {
    padding-left: 0px;
  }
}

.curv-wrapper__listjob--text-detail h2 {
  font-size: 20px;
  line-height: 28px;
}

.curv-wrapper__listjob--text-detail p {
  margin-top: 8px;
}

.curv-wrapper__listjob--text-detail p.text--name {
  color: #0976BB;
}

.curv-wrapper__listjob--text-icon {
  margin-left: 33.5px;
  margin-right: 15.33px;
  margin-top: 8px;
}

@media (max-width: 780px) {
  .curv-wrapper__listjob--text-icon {
    margin-left: 0px;
  }
}

.curv-wrapper__listjob--text-cheched {
  padding-top: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.curv-wrapper__listjob--text-cheched .checked--item .flex--item {
  display: inline-block;
}

@media (max-width: 780px) {
  .curv-wrapper__listjob--text-cheched .checked--item .flex--item {
    width: 100%;
  }
}

.curv-wrapper__listjob--text-cheched .checked--item svg {
  vertical-align: middle;
}

.curv-wrapper__listjob--text-cheched .checked--item span {
  margin-left: 10px;
  margin-right: 26px;
  color: #B1B1B1;
  font-size: 14px;
  line-height: 24px;
}

.curv-wrapper__listjob--text-cheched .checked--item2 {
  text-align: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 780px) {
  .curv-wrapper__listjob--text-cheched .checked--item2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.curv-wrapper__listjob--text-cheched .checked--item2 span {
  margin-left: 10px;
  margin-right: 0px;
}

.curv-wrapper__listjob .text--introduce {
  margin-top: 16px;
}

.con-vs-slider {
  min-width: unset !important;
}

.flex--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */