
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './media';
body{
    font-family: 'Roboto';
}

.curv-content{
    background: #EFFEFE;
    padding: 32px 32px 47px 32px;
}

.curv-search{
    position:relative;
    background: #FFFFFF;
    padding: 12px 0px 12px 10px;
    border-radius: 4px;
    &::before{
    content:"";
    position: absolute;
    height:32px;
    width:1px ;
    background: #B1B1B1;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;

    }

    &__item{

        .text--search{
            font-size: 14px;
            
        }
        &--icon{
            margin-right: 13.69px;
        }
        &--input{
           
            padding: 0.6rem !important;
           
            line-height: 20px;
            & .vs-input--input{
                border:  none !important;
                outline:none !important;
                padding: 0.6rem !important;
            }
        }
        &--text-location{
            margin-left: 16.5px;
        }
        &--btn{
           padding: 8px 16px 8px 16px;
           background: linear-gradient(90deg, #4490A8 0%, #5BBDA7 100%);
           color:#fff;
            border-radius: 4px;
            outline:none;
            border:none;
        }
      
    }
    &__item2{
       padding-left: 20.5px;
       padding-right: 8px;
    }
}

.curv-wrapper{
    padding-top:32px ;
    &__item{

        &--btn{
            width:99%;
            padding: 8px 0px;
            outline: none;
            border: none;
            background: #DDDDDD;
            color:#585858;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
        cursor: pointer;
        border-radius: 2px;
           
        }
        &--btn.btn--child1{
            background: linear-gradient(90deg, #4490A8 0%, #5BBDA7 100%);
            color:#fff;
        }
        &--checkbox.checkbox--level{
            padding-bottom: 32px;
        }
        &--checkbox{
            list-style: none;

            & .checkbox--text{
                font-size: 14px;
                line-height: 24px;
            }
            &-list{

            
            & li{
                display: block;
                margin-top: 12px;
                & .con-vs-checkbox{
                    justify-content: flex-start;
                }
               & .vs-checkbox {
                    margin-right: 12px;
                }
            }
           
            }
            & .text--salary{
                padding-top: 32px;
            }
            & .slide--range{
                padding-top: 20px;
                padding-bottom: 16px;
            }
            & .checkbox--price{
                color:#17A9B5;
            }
        }
    }

    &__filter{
        padding-top: 16px ;
        &--item{
          

            &-newest{
                margin-left: 16px;
                margin-right: 8px;
            }
            &-detail{
                color:#B1B1B1;
            }
            & .detail--list{
                font-size: 24px;
                line-height: 32px;
            }
            & .detail--sort{
                font-size: 14px;
                line-height: 24px;
            }

        }
        &--item2{
            text-align: end;
          
        }

    }
    &__products{
        margin-top: 16px;
        padding: 16px 18px 16px 16px;
        border-radius: 4px;
        background: #fff;
        &--image{
            @include mobile{
                display: none;
            }

            &-img{
                width:64px;
                height:64px;
                object-fit: cover;
            }
        }
        &--text{
           
            & p{
                font-size: 14px;
              line-height: 24px;
            }

            &-detail{
                padding-left: 16px;
                @include mobile{
                    padding-left: 0px;
                }
                & h2{
                    font-size: 20px;
                    line-height: 28px;
                }
                & p{
                    margin-top: 8px;
                 
                }
                & p.text--name{
                    color:#0976BB;
                }
            }
            &-icon{
                margin-left: 33.5px;
                margin-right: 15.33px;
                margin-top: 8px;
                @include mobile{
                    margin-left: 0px;
                }

            }
            
            &-cheched{
                padding-top: 12px;
                & .checked--item{

                    & .flex--item{
                        display:inline-block;
                        @include mobile{
                            width:100%;
                        }
                    }
                    & span{
                        margin-left: 10px;
                        margin-right:26px ;
                        color:#B1B1B1;
                        font-size: 14px;
                        line-height: 24px;

                    }
                }
                & .checked--item2{
                    text-align: end;
                    justify-content: flex-end;
                    @include mobile{
                        justify-content: flex-start;
                     }
                    & span{
                        margin-left: 10px;
                        margin-right:0px ;
                    } 
                }
            }
        }
        & .text--introduce{
            margin-top: 16px;
        }
       
       
        
    }
    
}
