@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './media';

body {
    font-family: 'Roboto';
}

.curv-content {
    background: #EFFEFE;
    padding: 32px 32px 47px 32px;
}

.curv-search {
    position: relative;
    background: #FFFFFF;
    padding: 12px 0px 12px 10px;
    border-radius: 4px;

    &::before {
        content: "";
        position: absolute;
        height: 32px;
        width: 1px;
        background: #B1B1B1;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;

    }

    &__item {
        width: 50%;

        & .flex--item {
            display: flex;
            align-items: center;
        }

        .text--search {
            font-size: 14px;

        }

        &--icon {
            margin-right: 13.69px;
            cursor: pointer;
        }

        &--input {

            padding: 0.6rem !important;
            width: 100%;
            border: none;
            line-height: 20px;


        }

        &--text-location {
            margin-left: 16.5px;
        }

        &--btn {
            padding: 8px 16px 8px 16px;
            background: linear-gradient(90deg, #4490A8 0%, #5BBDA7 100%);
            color: #fff;
            border-radius: 4px;
            outline: none;
            border: none;
            cursor: pointer;
        }

    }

    &__item2 {
        padding-left: 20.5px;
        padding-right: 8px;

        & .space--search {
            justify-content: space-between;
        }
    }
}

.curv-wrapper {
    padding-top: 32px;

    @include mobile {
        flex-direction: column;
    }

    & .left--side {
        flex: 30%;
    }

    & .right--side {
        flex: 70%;

        & .flex--item {
            display: flex;
            align-items: center;
        }
    }

    &__item {

        &--btn {
            width: 99%;
            padding: 8px 0px;
            outline: none;
            border: none;
            background: #DDDDDD;
            color: #585858;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            cursor: pointer;
            border-radius: 2px;

        }

        &--btn.btn--child1 {
            background: linear-gradient(90deg, #4490A8 0%, #5BBDA7 100%);
            color: #fff;
        }

        &--checkbox.checkbox--level {
            padding-bottom: 32px;
        }

        &--checkbox {
            list-style: none;

            & .slide--range {
                min-width: 100% !important;
            }

            & .con-vs-slider {
                min-width: unset !important;
            }

            & .checkbox--text {
                font-size: 14px;
                line-height: 24px;
            }

            & .vs-slider-line-one {
                background: #17A9B5 !important;

            }



            &-list {


                & li {
                    display: block;
                    margin-top: 12px;

                    & .con-vs-checkbox {
                        justify-content: flex-start;
                    }

                    & .vs-checkbox {
                        margin-right: 12px;
                    }
                }

            }

            & .text--salary {
                padding-top: 32px;
            }

            & .slide--range {
                padding-top: 20px;
                padding-bottom: 16px;
                width: 90%;


            }

            & .checkbox--price {
                color: #17A9B5;
            }

        }

        &--checkbox.wrap--money {
            justify-content: space-around;
            display: flex;
        }

        &--joblist--tab {
            flex: 1;
        }
    }

    &__filter {
        padding-top: 16px;

        &--item {


            &-newest {
                margin-left: 16px;
                margin-right: 8px;
            }

            &-detail {
                color: #B1B1B1;
            }

            & .detail--list {
                font-size: 24px;
                line-height: 32px;
            }

            & .detail--sort {
                font-size: 14px;
                line-height: 24px;
            }

        }

        &--item2 {
            text-align: end;
            position: relative;


        }

    }

    &__listjob {
        margin-top: 16px;
        padding: 16px 18px 16px 16px;
        border-radius: 4px;
        background: #fff;

        &--image {
            @include mobile {
                display: none;
            }

            &-img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        &--text {
            width: 100%;
            display: flex;

            & .flex--item {
                display: flex;
                align-items: center;

                @include mobile {
                    width: 100%;
                }
            }

            & p {
                font-size: 14px;
                line-height: 24px;
            }

            &-detail {
                padding-left: 16px;

                & .icon--heart {
                    cursor: pointer;
                }

                & .text--title {
                    text-decoration: none;
                    font-size: 20px;
                    line-height: 28px;
                    color: #353535;
                    font-weight: 700;
                }

                @include mobile {
                    padding-left: 0px;

                }



                & h2 {
                    font-size: 20px;
                    line-height: 28px;
                }

                & p {
                    margin-top: 8px;

                }

                & p.text--name {
                    color: #0976BB;
                }
            }

            &-icon {
                margin-left: 33.5px;
                margin-right: 15.33px;
                margin-top: 8px;

                @include mobile {
                    margin-left: 0px;
                }

            }

            &-cheched {
                padding-top: 12px;
                justify-content: space-between;

                & .checked--item {

                    & .flex--item {
                        display: inline-block;



                        @include mobile {
                            width: 100%;
                        }
                    }

                    & svg {
                        vertical-align: middle;
                    }

                    & span {
                        margin-left: 10px;
                        margin-right: 26px;
                        color: #B1B1B1;
                        font-size: 14px;
                        line-height: 24px;

                    }
                }

                & .checked--item2 {
                    text-align: end;
                    justify-content: flex-end;

                    @include mobile {
                        justify-content: flex-start;
                    }

                    & span {
                        margin-left: 10px;
                        margin-right: 0px;
                    }
                }
            }
        }

        & .text--introduce {
            margin-top: 16px;
        }



    }

    &__non--listjob {
        background: #fff;
        padding: 16px 18px 16px 16px;
        border-radius: 4px;
        justify-content: center;
        text-align: center;
        margin-top: 16px;

        &--wrapimage {
            width: 100%;


        }

        &--wraptext {

            & .text--sorry {
                margin-top: 12px;
                font-size: 20px;
                line-height: 22px;
            }

            & p {
                font-size: 14px;
                line-height: 24px;
                margin-top: 12px;
                color: #B1B1B1;
            }
        }
    }

}


.con-vs-slider {
    min-width: unset !important;
}